
.GrandHolder {
    border: solid;
    border-color: white;
    color: white;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    background-image: url('/Images/novahigh.png');
    background-repeat: no-repeat;
    background-size: cover; /* Use cover for a better background image fit */
    padding: 20px; /* Add some padding to the GrandHolder */
    border-radius: 10px; /* Add border-radius for rounded corners */
}

.TopPart {
    display: flex;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between; /* Distribute child elements evenly */
}

/* Add styling to the InfoHolder and ContactHolder */
.InfoHolder,
.ContactHolder {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-top: 10px;
}

    /* Add styling to the ContactHolder h2 */
    .ContactHolder h2 {
        margin-bottom: 0; /* Remove margin-bottom for better alignment */
    }

.ImagePF {
    display: block;
    width: 100%; /* Make the image fill its container */
    border-radius: 50%;
}

.BottomPart {
    padding: 20px; /* Add more padding to the BottomPart */
    border: solid;
    border-color: white;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px 0;
    text-align: center;
    border-radius: 10px; /* Add border-radius for rounded corners */
}

/* Style the Edit Bio button */
#editBioForm {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* Style the Logout button */
.Logout {
    padding: 20px;
}

/* Style the Logout button */
.blog {
    width: 100%; /* Make the button fill its container */
    height: 50px;
    border-radius: 5px; /* Add border-radius for rounded corners */
}
